<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="<%= $static.css %>styles/sonamu.css">
</head>
<body>
  
  <div id="app">

    <div class="layout_left">
      <div class="scroll_left">

        <%- partial('partial/article', {article: article}) %>

      </div>
    </div>

    <div class="layout_right">
      <div class="scroll_right">

      </div>
    </div>

  </div>

  <script src="<%= $static.css %>plugins/iscroll.js"></script>
  <script src="<%= $static.css %>plugins/vue.min.js"></script>
  <script src="<%= $static.css %>scripts/sonamu.js"></script>
</body>
</html>