<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sonamu</title>
  <link rel="stylesheet" href="<%= $static.styles %>sonamu.css">
  
  <script>
    var vueData = {
      historyBox: ['lists'], // 右侧历史页面，默认打开filter
      showBoxData: {title: '文章列表', noctrls: true},
      userinfo: <%- JSON.stringify($userinfo || null) %>,
      article: {
        state: <%= code %>,
        detail: <%- JSON.stringify(article) %>
      },
      searchData: { // 搜索内容
        keywords: '', // 关键字
        nature: 'all', // 文章来源 all(全部) original(原创) translate(翻译) reprint(转载) excerpt(节选) 
        page: 0, // 第几页 (0开始)
        tags: [-1],
        categories: [-1]
      },
      post: {
        state: 0,
        isShow: false,
        nature: 'original', // 新发布文章 默认原创
        link: '', // 原文地址
        category: '', // 文章分类
        addCategory: '',
        isAddCategory: '',
        tags: [], // 文章标签
        addTag: '',
        isAddTag: false,
        title: '',
        markdown: '',
        isPostArticle: false
      },
      listsData: {
        state: 0,
        title: '文章列表',
        noctrls: true, // 不包含返回，关闭按钮
        articles: [], // 文章列表
      },
      filterData: {
        state: 0,
        title: '高级筛选',
        tags: [], // 标签列表
        categories: [], // 分类列表
      },
      ucenterData: {
        title: '个人中心',
      },
      loginData: {
        title: '登录',
        state: 0, time: 0, email: '', password: '', isEmail: true, isPassword: true
      },
      registerData: {
        title: '注册',
        state: 0, time: 0, email: '', password: '', code: '', isEmail: true, isPassword: true, isCode: true
      }
    };
  </script>
</head>
<body>
  <div id="app">
    <div class="layout_left">

      <div class="scroll_left">
        <%- partial('partial/article', {article: article}) %>
      </div>
      
      <%- partial('partial/nav') %>
    </div>
    <div class="layout_right">

      <!-- header -->
      <div class="scroll_title">
        <div class="scroll_title_inner" :class="{'show-ctrls': !showBoxData.noctrls}">
          <i class="fa fa-arrow-left" @click="rightBoxBack"></i>
          <span v-html="showBoxData.title">文章列表</span>
          <i class="fa fa-close" @click="rightBoxHome"></i>
        </div>
      </div>

      <!--搜索列表-->
      <div class="scroll_right right-has-title right-lists" :style="historyBox[historyBox.length - 1] === 'lists' ? 'display: block' : 'display: none'">
        <div class="scroll_right_inner">
          <template v-if="historyBox[historyBox.length - 1] === 'lists'">
            <%- partial('partial/lists') %>
          </template>
        </div>
      </div>

      <!--标签分类-->
      <div class="scroll_right right-has-title right-filter" :style="historyBox[historyBox.length - 1] === 'filter' ? 'display: block' : 'display: none'">
        <div class="scroll_right_inner">
          <template v-if="historyBox[historyBox.length - 1] === 'filter'">
            <%- partial('partial/filter') %>
          </template>
        </div>
      </div>

      <!--个人中心-->
      <div class="scroll_right right-has-title right-ucenter" :style="historyBox[historyBox.length - 1] === 'ucenter' ? 'display: block' : 'display: none'">
        <div class="scroll_right_inner no-padding">
          <template v-if="historyBox[historyBox.length - 1] === 'ucenter'">
            <%- partial('partial/ucenter') %>
          </template>
        </div>
      </div>

      <!--登录-->
      <div class="scroll_right right-has-title right-login" :style="historyBox[historyBox.length - 1] === 'login' ? 'display: block' : 'display: none'">
        <div class="scroll_right_inner">
          <template v-if="historyBox[historyBox.length - 1] === 'login'">
            <%- partial('partial/login') %>
          </template>
        </div>
      </div>

      <!--注册-->
      <div class="scroll_right right-has-title right-register" :style="historyBox[historyBox.length - 1] === 'register' ? 'display: block' : 'display: none'">
        <div class="scroll_right_inner">
          <template v-if="historyBox[historyBox.length - 1] === 'register'">
            <%- partial('partial/register') %>
          </template>
        </div>
      </div>

    </div>

    <%- partial('partial/post') %>
  </div>
  <script src="<%= $static.plugins %>iscroll.js"></script>
  <script src="<%= $static.plugins %>vue.min.js"></script>
  <script src="<%= $static.plugins %>vue.min.js"></script>
  <script src="<%= $static.plugins %>markdown-it.min.js"></script>
  <script src="<%= $static.scripts %>sonamu.js"></script>
</body>
</html>